.textInput {
    background: #3D3756;
    border: none;
    border-radius: 1.6rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: white;
}

.formLayout {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formItem {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textArea {
    resize: none;
    overflow-y: scroll;
    height: 5rem;
    padding: 1rem;
    font-family: inherit;
    font-size: 0.9rem;
}

.selectInput {
    background: #3D3756;
    border: none;
    border-radius: 1.6rem;
    padding: 1rem;
    color: white !important;
    width: 100%;
    height: 10rem;
}

.selectInput:not(:focus) {
    color: white;
}

.selectInput[multiple] option:checked {
    color: white;
    background: #ffff linear-gradient(0deg, #302B44 0%, #302B44 100%);
}

.selectInput::-webkit-scrollbar {
    display: none;
}
  
.selectInput {
-ms-overflow-style: none;
scrollbar-width: none; 
}


.textArea::-webkit-scrollbar {
    display: none;
}
  
.textArea {
-ms-overflow-style: none;
scrollbar-width: none; 
}

.lengthy {
    width: 100%;
}