.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    flex: 100%;
    max-width: 100%;
    text-align: center;
}

.card-container {
    display: flex;
    padding: 0.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    margin: 10px;
    flex-direction: column;
}

.card-header {
    padding: 2.2rem 0;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-images {
    display: flex;
    justify-content: space-between;
}

.card-header-image {
    max-height: 100px;
    width: 100px;
    background: #ffffff;
    margin-bottom: 0.95rem;
}

.card-title {
    width: 100%;
    display: inline-block;
    color: #727272;
    font-size: 1rem;
    font-weight: 500;
}

.card-body {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem
}

.card-body-item {
    display: flex;
    flex-direction: column;
}

.card-body-difficulty {
    display: flex;
    justify-content: space-around;
}

.card-body-title {
    font-weight: 600;
}

.block {
    margin-top: 0.2rem;
    width: 10px;
    height: 10px;
}

.easy {
    background-color: green ;
}

.medium {
    background-color: orange ;
}

.hard {
    background-color: orangered ;
}

.card-footer {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.card-footer-button {
    margin-top: 1rem;
    width: 110px;
    margin-left: auto;
}

@media (min-width: 576px) { 
    .col {
        flex: 0 0 50%;
        max-width: 50%;
    }
 }

@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 
    .col {
        flex: 0 0 33.3333%;
        max-width: 33.33333%;
    }
 }


@media (min-width: 1200px) { 
    .col {
        flex: 0 0 25%;
        max-width: 25%;
    }
 }