@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body {
  padding: 0;
  margin: 0;
  font-family: 'Heebo', sans-serif
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  margin-top: 2rem;
}

.bold {
  font-weight: 500;
}

.welcome-text {
  font-size: 2rem;
  font-weight: 400;
}