.content-container {
    width: 100%;
    background-color: #f7f7f7;
    min-height: 10rem;
    height: auto;
    -webkit-box-shadow: -2px 27px 22px -19px rgba(0,0,0,0.24);
    -moz-box-shadow: -2px 27px 22px -19px rgba(0,0,0,0.24);
    box-shadow: -2px 27px 22px -19px rgba(0,0,0,0.24);;
    margin-top: 2rem;
}


.challenge-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.challenge-title-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.509);
}

.challenge-icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
}

.challenge {
    display: flex;
    align-items: center;
}

.challenge-title {
    font-weight: 400;
}

.challenge:not(:first-child) {
    margin-top: 1rem;
}

.challenge-container-title {
    font-size: 1.5rem;
}

.click-icon {
    height: 1rem;
    width: 1rem;
    margin-left: auto;
}

.languages {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}


.users {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.user {
    display: flex;
    align-items: center;
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user:not(:first-child) {
    margin-top: 0.7rem;
}

.Icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.4rem;
}

.St {
    margin-right: 0.4rem;
}

.date {
    margin-right: 0.4rem;
    font-size: 0.8rem;
}