.content-container {
    width: 100%;
    background-color: #f7f7f7;
    min-height: 10rem;
    height: auto;
    -webkit-box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    margin-top: 2rem;
}

.challenge-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.challenge-title-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.509);
}

.challenge-icon {
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
}

.challenge {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.challenge-title {
    font-weight: 400;
}

.challenge:not(:first-child) {
    margin-top: 1rem;
}

.challenge-container-title {
    font-size: 1.5rem;
}

.click-icon {
    height: 1rem;
    width: 1rem;
    margin-left: auto;
}

.languages {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
}


.users {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.user {
    display: flex;
    align-items: center;
}

.user-info {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.user:not(:first-child) {
    margin-top: 0.7rem;
}

.Icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.4rem;
}

.St {
    margin-right: 0.4rem;
}

.date {
    margin-right: 0.4rem;
    font-size: 0.8rem;
}


.cr {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.half {
    width: 50%;
}

.firstColumn {
    margin-right: 2rem;
}

.profileContainer {
    height: 100%;
    margin-top: 0 !important;
    padding: 1rem;
}

.rightHalf {
    margin-top: 2rem;
}

@media only screen and (max-width: 1000px) {
    .cr {
        flex-direction: column;
    }
    .half {
        width: 100%;
    }
}


.profileContent {
    padding-top: 1rem;
    display: flex;
}

.homeProfilePicture {
    height: 80px;
    width: 80px;
    border-radius: 3px;
}

.nameContainer {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.profileName {
    font-weight: 500;
    font-size: 1.5rem;
}

.profileTag {
    color: rgb(69, 69, 69);
    font-family: 'Courier New', Courier, monospace;
}

.editIcon {
    height: 20px;
    width: 20px;
    margin-left: auto;
}

.userInfo {
    margin-top: 1rem;
}

.rankTitle {
    font-size: 1.5rem;
}

.skillContainer {
    margin-top: 1rem;
}


.skillTitle {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.container {
    padding: 10rem;
}


.subContainer {
    background-color: red;
    height: 100%;
    width: 100%;
}