.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b273e;
    width: 100%;
    min-height: 12rem;
    height: fit-content;
    padding: 1px;
    border-radius: 1.6rem;
    position: relative;
    overflow: hidden;
}

.topSection {
    display: flex;
    gap: 1rem;
}

.parent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
}