.container {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-bottom: 2rem;
}

.contentCenterer {
    width: 100%;
    max-width: 75vw;
    min-width: 1017px;
    height: 100%;
}

.centerContainer {
    background: #342E49;
    border-radius: 1.6rem;
    max-width: 100%;
    min-width: 90%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.sideTree {
    background: #3D3756;
    height: 100%;
    width:  10rem;
    display: flex;
    flex-direction: column;
}

.sideTreeHeader {
    padding: 1rem;
    margin: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.challengeLanguageImage {
    height: 2rem;
    width: 2rem;
}

.underline {
    height: 3px;
    width: 100%;
    background: #595273;
    border-radius: 1rem;
    margin-top: auto;
    align-self: flex-end;
}

.challengeTitle {
    color: white;
}

.sideTreeMain {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ideContainer {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
    color: white;
    position: relative;
}

.terminalContainer {
    background: #342E49;
    width: 100%;
    z-index: 0;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
}

.dragBar {
    height: 22px;
    background: #3D3756;
    width:100%;
}

.terminalParent {
    align-items: center;
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 0.8rem;
    padding-left: 0.2rem;
    overflow-y: scroll;
}

.terminalLegend {
    position: absolute;
    z-index: 9999;
    right: 0;
    width: 12rem;
    height: 2rem;
    background: #3D3756;
    border-radius: 0 0 0 1.6rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: 1.3rem;
    gap: 0.5rem;
}

.statusCircle {
    height: 1rem;
    width: 1rem;
    background: #8AB77A;
    border-radius: 1rem;
    margin-left: auto;
}

.xterm-viewport {
    overflow-y:hidden;
}

@media only screen and (max-width: 1060px) {
    .contentCenterer {
        min-width: auto;
    }
}