.container {
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1.3rem;
    background-color: #3d3756;
    height: 20rem;
    padding: 1rem;
    gap: 0.5rem;
}

.container:hover {
    background: #4e456d;
}

.codeContainer {
    overflow:hidden;
    scrollbar-color: #595273 transparent;
    scrollbar-width: 5px;
    
    background-color: #342e49;
    height: 80%;
    width: 100%;
    border-radius: 1.3rem;
    
}

.scroll {
    overflow-y: scroll;
    word-wrap: break-word;
    height: 100%;
    
    padding: 1rem;
    padding-top: 0.5rem;
    padding-left: 2px;

    margin-right: 10px;
    margin-left: 16px;

}

.scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
.scroll::-webkit-scrollbar-track {
    margin-top: 20px;
}
 
.scroll::-webkit-scrollbar-thumb {
    background-color: #595273;
    border-radius: 20px;
}

.scroll::-webkit-scrollbar-corner{
    background-color: #342e49;
}

.userInfoContainer {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    height: 3rem;
}

.profilePic {
    height: 3rem;
    width: 3rem;
}

.languageIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.heartContainer {
    display: flex;
    margin-left: auto;
}

.heartIcon {
    height: 1.5rem;
    width: 1.5rem;
}

.codePreserve {
    counter-reset: line;
}

.codePreserve code {
    color: white;
    font-size: 1.1rem;
    display: block;
}

.codePreserve code::before {
    display: inline-block;
    counter-increment: line;
    content: counter(line);
    color: white;
    width: 1rem; /* Fixed width */
    border-right: 2px solid #544e6f;
    padding: 0 .5em;
    margin-right: .5em;
    color: #6d6a7a;
}